# Cache
**/.pytest_cache
**/__pycache__

# packages
web/frontend/node_modules/

# Model checkpoints
AI/models/arcface_r100.onnx
AI/models/yolov7-face.pt
AI/models/yolov7-tiny-face.pt

# Database
AI/data/faces/
AI/data/cropped_faces/
AI/database/embeddings.npz
AI/runs/

# Debug scripts
AI/scritps/run_tests.sh
AI/tests/
AI/debug_pipeline.py

# Draft documents
AI/INSTRUCTION.md